/* normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0;
}
a {
    background: transparent;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
img {
    border: 0;
}

/* colors */

.black {
    color: #1D1E1F;
}
.grey {
    color: #868686;
}
.blue {
    color: #24A9F9;
}
.green {
    color: #69DB91;
}
.pink {
    color: #F4A1C4;
}
.faded-pink {
    color: #A97389;
}
.rust {
    color: #A28114;
}
.yellow {
    color: #DFB113;
}

/* main */

body {
    font-family: 'Bitter', serif;
    background-color: #1D1E1F;
    font-size: 16px;
    color: #E4E4E4;
}
footer {
    background-color: #69DB91;
    padding: 10px 0;
    border-top: 10px solid #F4A1C4;
    text-align: center;
}
footer p {
    color: #fff;
    font-weight: 400;
}
p {
    font-size: 1rem;
    font-weight: 600;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
.container {
    margin: 70px auto;
}
.header-wrap {
    text-align: center;
}
.title-prim {
    font-size: 2.5rem;
    color: #868686;
    font-weight: 700;
    margin-bottom: 0;
}
.title-sec {
    font-size: 1rem;
    color: #AFAFAF;
    font-weight: 300;
    display: inline-block;
    background-color: rgba(122, 212, 206, .3);
    background-color: #404040;
    padding: 2px 10px;
    border-radius: 3px;
    margin-top: 10px;
}
.intro-me {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    overflow: hidden;
    border: 15px solid #F4A1C4;
    border-left: 15px solid #69DB91;
    border-top: 15px solid #69DB91;
    margin: 0 auto;
    transition: .3s all;
}
.intro-me img {
    cursor: default;
}
.section-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 0;
}
.sub-desc {
    color: #999;
    font-weight: 300;
    margin-top: 7px;
}
#art {
    margin-top: 20px;
}
.art-piece {
    margin-top: 35px;
    background-color: #383A3C;
    padding: 20px;
    border-radius: 3px;
    transition: .7s all;
}
.art-piece:first-child {
    margin-top: 0;
}
.art-piece img {
    margin-bottom: 15px;
}
.piece-name {
    display: inline-block;
    font-size: 1.2rem;
    color: #69DB91;
    border-left: 5px solid #fff;
    padding-left: 8px;
    margin-bottom: 0;
}
.piece-size {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    color: #ddd;
    font-size: .95rem;
    font-weight: 400;
    margin-left: 25px;
}
.status {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 12px;
    color: #111;
    background-color: #ddd;
    border-radius: 3px;
    padding: 0 4px;
    margin-left: 15px;
    font-weight: 400;
}
@media(min-width: 1200px) {
    .container {
        width: 680px;
    }

}
@media(max-width: 1199px) {
    .container {
        width: 600px;
    }
}
@media(max-width: 767px) {
    .container {
        width: 90%;
    }
    .container {
        margin: 40px auto;
    }
    .art-piece {
        background-color: #1D1E1F;
        margin-top: 35px;
        padding: 0px;
    }
    .art-piece img {
        margin-bottom: 0;
    }
    .piece-name {
        font-size: 1.05rem;
        padding-left: 8px;
        font-weight: 700;
    }
    .piece-size {
        font-size: 1.05rem;
        margin-left: 15px;
        float: right;
    }
    .status {
    }
}
.footer-link {
    color: #325856
}
.footer-link:hover {
    text-decoration: underline;
}

/* zoom */

img[data-action="zoom"] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
  -webkit-transition: all 300ms;
       -o-transition: all 300ms;
          transition: all 300ms;
}
img.zoom-img {
  cursor: pointer;
  cursor: -webkit-zoom-out;
  cursor: -moz-zoom-out;
}
.zoom-overlay {
  z-index: 420;
  background: #2C2E2F;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  filter: "alpha(opacity=0)";
  opacity: 0;
  -webkit-transition:      opacity 300ms;
       -o-transition:      opacity 300ms;
          transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
  filter: "alpha(opacity=100)";
  opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}

.filter-menu {
    margin: 30px 0 0 0;
    padding: 0;
}
.filter-menu li {
    display: inline-block;
    font-family: 'Open Sans', sans-serif;
    margin-right: 6px;
    color: #ddd;
    border: 1px solid #ddd;
    padding: 2px 10px;
    border-radius: 22px;
    font-weight: 400;
    font-size: 13px;
    text-transform: uppercase;
    cursor: pointer;
    transition: .25s all;
}
.filter-menu li:hover {
    background-color: #F4A1C4;
    color: #fff;
    border-color: #F4A1C4;
}
.filter-menu li:last-child {
    margin-right: 0;
}
.filter-menu li.active {
    color: #fff;
    background-color: #69DB91;
    border-color: #53AD73;
}