/* normalize */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
    display: block;
}
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0;
}
a {
    background: transparent;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
img {
    border: 0;
}

/* colors */

.black {
    color: #1D1E1F;
}
.grey {
    color: #868686;
}
.blue {
    color: #24A9F9;
}
.green {
    color: #69DB91;
}
.pink {
    color: #F4A1C4;
}
.faded-pink {
    color: #A97389;
}
.rust {
    color: #A28114;
}
.yellow {
    color: #DFB113;
}
.gold {
    color: #ddac36;
}
.bg-brown {
    background-color: #0C0C0C;
}
.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: #1D1E1F;
}
.show {
    display: block !important;
}
.hide {
    display: none !important;
}

/* main */

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #1D1E1F;
    font-size: 16px;
    color: #E4E4E4;
}
ul, h1, h2, h3, h4, article {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    font-family: 'Lora', serif;
    line-height: 1;
}
p {
    font-size: 1rem;
    font-weight: 600;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.container {
    margin: 0 auto;
}
.full-width {
    width: 100%;
    float: left;
    padding: 30px 0 60px 0;
}
.col-50 {
    width: 50%;
    float: left;
}
.col-100 {
    width: 100%;
    float: left;
}
@media(min-width: 1200px) {
    .container {
        width: 680px;
    }

}
@media(max-width: 1199px) {
    .container {
        width: 600px;
    }
}
@media(max-width: 767px) {
    .container {
        width: 90%;
    }
    .col-50 {
        width: 100%;
    }
}

.hr-sm {
    margin: 0 auto;
    width: 26px;
    height: 4px;
    background-color: rgba(176, 151, 109, .5);
    margin-top: 40px;
}
.bg-black .hr-sm {
    background-color: rgba(255,255,255, .1);
}
.logo {
    width: 150px;
    margin: 0 auto;
    margin-top: 70px;
    border-left: none;
    border-right: none;
    color: rgba(255, 255, 255, .5);
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero-bg {
    width: 100%;
    background: url('../images/landscape-mountains.jpg') 50% 50%;
    height: 700px;
    text-align: center;
    float: left;
}
.hero-heading {
    font-size: 2.3rem;
    line-height: 3.5rem;
    color: #fff;
    opacity: .85;
    font-weight: 400;
    margin-top: 100px;
}
.hero-subheading {
    font-size: 1.6rem;
    color: #B0976D;
    opacity: .9;
    font-weight: 400;
    margin-top: 10px;
}
.heading {
    width: 95%;
    font-size: 1.6rem;
    line-height: 3rem;
    color: #0C0C0C;
    text-align: center;
    opacity: 1;
    font-weight: 400;
    margin: 0 auto;
    margin-top: 25px;
}
.bg-black .heading {
    color: #fff;
    color: rgba(176, 151, 109, .7);
}
.heading-secondary {
    font-size: 1.2rem;
    line-height: 2.4rem;
    color: #0C0C0C;
    opacity: .7;
    font-weight: 400;
    margin-top: 30px;
}
.bg-black .heading-secondary {
    color: #fff;
    opacity: .25;
}
.service-title {
    font-size: 1.3rem;
    color: #0C0C0C;
    opacity: .8;
    margin-top: 45px;
}
.service-list {
    margin-top: 20px;
}
.service-list li {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    color: #0C0C0C;
    opacity: .8;
    font-size: 1.1rem;
    float: left;
    width: 285px;
    margin-left: 20px;
    margin-top: 10px;
    padding: 4px 0;
    line-height: 1;
    border-left: 2px solid rgba(176, 151, 109, .3);
    padding-left: 15px;
    transition: .2s all;
}
.service-list li:hover {
    background-color: rgba(176, 151, 109, .1);
    border-color: rgba(176, 151, 109, .9);
    color: #000;
    opacity: 1;
}
.service-description {
    display: none;
    margin-top: 10px;
    opacity: .65;
    line-height: 1.8rem;
    padding: 5px 8px;
    font-size: 1rem;
}
.art-box {
    width: 48%;
    height: auto;
    float: left;
    box-sizing: border-box;
    margin-top: 2%;
    padding: 5px;
    text-align: center;
    border: 1px solid #313131;
    transition: .3s all;
}
.art-box:nth-child(odd) {
    margin-left: 2%;
}
.art-box:hover {
    background-color: #414141;
}
.art-piece {
    width: 100%;
    display: block;
}
.art-title {
    display: inline-block;
    font-family: 'Lora', serif;
    margin-top: 15px;
    opacity: .25;
}
@media(max-width: 480px) {
    .art-box {
        width: 100%;
    }
    .art-box:nth-child(odd) {
        margin-left: 0;
    }
}
.footer {
    width: 100%;
    padding: 80px 0;
    background-color: #fff;
    text-align: center;
    float: left;
}
.footer-copy {
    color: #0C0C0C;
    opacity: .8;
    font-size: 1.1rem;
}