/* Normalize
 ======================== */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
    display: block;
}
html {
    font-family: sans-serif; /* 1 */
    -ms-text-size-adjust: 100%; /* 2 */
    -webkit-text-size-adjust: 100%; /* 2 */
}
body {
    margin: 0;
}
a {
    background: transparent;
}
a:focus {
    outline: thin dotted;
}
a:active,
a:hover {
    outline: 0;
}
h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
img {
    border: 0;
}
/* Colors
 ======================== */
.white {
    color: #fff;
}
.black {
    color: #1D1E1F;
}
.grey {
    color: #868686;
}
.blue {
    color: #24A9F9;
}
.green {
    color: #69DB91;
}
.pink {
    color: #F4A1C4;
}
.faded-pink {
    color: #A97389;
}
.rust {
    color: #A28114;
}
.yellow {
    color: #DFB113;
}
.gold {
    color: #ddac36;
}
.bg-brown {
    background-color: #0C0C0C;
}
.bg-white {
    background-color: #fff;
}
.bg-black {
    background-color: #1D1E1F;
}
.show {
    display: block !important;
}
.hide {
    display: none !important;
}
/*<!-- <div class="full-width bg-white" style="background:rgba(95, 92, 59,1)"> -->
<!-- <div class="full-width bg-white" style="background:rgb(125, 188, 169)"> -->
<div class="full-width bg-white" style="background:rgba(255,155,109,1)">
<!-- <div class="full-width bg-white" style="background:rgb(234, 253, 137)"> -->*/
/* Main
 ======================== */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    font-size: 16px;
    color: #E4E4E4;
}
ul, h1, h2, h3, h4, article {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4 {
    /*font-family: 'Lora', serif;*/
    line-height: 1;
}
p {
    font-size: 1rem;
    font-weight: 600;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
.container {
    margin: 0 auto;
}
.full-width {
    width: 100%;
    float: left;
    padding: 30px 0 60px 0;
}
.col-50 {
    width: 50%;
    float: left;
}
.col-100 {
    width: 100%;
    float: left;
}
/* Container device sizes
 ======================== */
@media(min-width: 1200px) {
    .container {
        width: 680px;
    }

}
@media(max-width: 1199px) {
    .container {
        width: 600px;
    }
}
@media(max-width: 767px) {
    .container {
        width: 90%;
    }
    .col-50 {
        width: 100%;
    }
}
.hr-sm {
    margin: 0 auto;
    width: 26px;
    height: 4px;
    background-color: rgba(176, 151, 109, .5);
    background-color: rgba(255, 255, 255, .25);
    margin-top: 40px;
}
.bg-black .hr-sm {
    background-color: rgba(255,255,255, .1);
}
.logo {
    width: 150px;
    margin: 0 auto;
    margin-top: 70px;
    border-left: none;
    border-right: none;
    color: rgba(255, 255, 255, .5);
    font-size: .8rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.hero-overlay {
    width: 100%;
    height: 700px;
    background: rgba(255,255,255,.7);
    background-image:  url('../images/stripes-white.png');
    opacity: .7;
    position: absolute;
    top: 0;
    left: 0;
}
.hero-bg {
    width: 100%;
    background: url('../images/bg-rocks.jpg') 50% 50%;
    background: url('../images/bg-rocks-flipped.jpg') 50% 50%;
    height: 700px;
    text-align: center;
    float: left;
}
.hero-heading {
    font-size: 3rem;
    line-height: 3.5rem;
    color: #000;
    opacity: .7;
    font-weight: 300;
    margin-top: 150px;
}
.hero-subheading {
    font-size: 2rem;
    color: #000;
    opacity: .5;
    font-weight: 300;
    margin-top: 10px;
}
.heading {
    font-size: 2.5rem;
    line-height: 3.6rem;
    color: #0C0C0C;
    opacity: .6;
    font-weight: 300;
    margin: 0 auto;
    margin-top: 25px;
}
.bg-white .heading {
    color: #000;
    color: #864141;
    color: #442F1E;
    opacity: .8;
}
.heading-secondary {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: #000;
    opacity: .5;
    font-weight: 300;
    margin-top: 30px;
}
.bg-white .heading-secondary {
    color: #442F1E;
    opacity: .6;
}
.service-title {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
    opacity: .4;
    margin-top: 45px;
}
.service-list {
    margin-top: 20px;
}
.service-list li {
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    color: #0C0C0C;
    opacity: .7;
    font-size: 1.1rem;
    font-weight: 300;
    float: left;
    width: 285px;
    margin-top: 10px;
    line-height: 1;
    padding-left: 15px;
    transition: .2s all;
}
.service-list li:before {
    content: "• ";
    vertical-align: middle;
    font-size: 1.9rem;
    opacity: .5;
}
.service-description {
    display: none;
    margin-top: 10px;
    opacity: .65;
    line-height: 1.8rem;
    padding: 5px 8px;
    font-size: 1rem;
}
.art-section {
    background-image:  url('../images/stripes.png');
    background-image:  url('../images/stripes-white.png');
}
.art-box {
    width: 48%;
    height: auto;
    float: left;
    box-sizing: border-box;
    background-color: #f8f8f8;
    margin-top: 2%;
    padding: 10px;
    text-align: center;
    transition: .3s all;
}
.art-box:nth-child(odd) {
    margin-left: 2%;
}
.art-piece {
    width: 100%;
    display: block;
}
.art-title {
    display: inline-block;
    margin-top: 15px;
    color: #0C0C0C;
    opacity: .4;
    font-size: 1.2rem;
    font-weight: 300;
}
/* Mobile
  ======================== */
@media(max-width: 480px) {
    .hero-heading {
        font-size: 2.2rem;
        line-height: 3rem;
    }
    .hero-subheading {
        font-size: 1.8rem;
    }
    .hero-bg,
    .hero-overlay {
        height: 600px;
    }
    .heading {
        font-size: 1.7rem;
        line-height: 2.8rem;
        margin-top: 25px;
    }
    .heading-secondary {
        font-size: 1.4rem;
        line-height: 2.3rem;
        margin-top: 20px;
    }
    .service-list li {
        font-family: 'Open Sans', sans-serif;
        list-style: none;
        color: #0C0C0C;
        opacity: .7;
        font-size: 1.1rem;
        font-weight: 300;
        float: left;
        width: 100%;
        margin-left: 15px;
        margin-top: 3px;
        line-height: 1;
        padding-left: 0px;
    }
    .art-box {
        width: 100%;
    }
    .art-box:nth-child(odd) {
        margin-left: 0;
    }
}
.footer {
    width: 100%;
    padding: 80px 0;
    background-color: rgb(255,155,109);
    text-align: center;
    float: left;
}
.footer-copy {
    color: #000;
    opacity: .5;
    line-height: 1rem;
    font-size: 1.2rem;
    font-weight: 300;
}